<div class="container content">
  <ul style="background-color: #444">
    <li><pulse></pulse></li>
    <li><rotating-plane></rotating-plane></li>
    <li><chasing-dots></chasing-dots></li>
    <li><circle-pulse></circle-pulse></li>
    <li><cube-grid></cube-grid></li>
    <li><double-bounce></double-bounce></li>
    <li><folding-cube></folding-cube></li>
    <li><rectangle-bounce></rectangle-bounce></li>
    <li><three-bounce></three-bounce></li>
    <li><wandering-cubes></wandering-cubes></li>
    <span style="content: ''; display: block; clear: both;"></span>
  </ul>
</div>
