<div class="my-ng-guide fix-sidebar">
  <div class="sidebar">
    <header>
      <div class="">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">My Angular Guide</a>
      </div>
      <nav>
        <ul>
          <li>
            <h3>Forms</h3>
            <ul class="sub-menu">
              <li>
                <a
                  routerLink="/form"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  class="link">
                  Custom Form Validation
                </a>
              </li>
              <li>
                <a
                  routerLink="/form/basic-form-validation"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  class="link">
                  Basic Form Validation
                </a>
              </li>
              <li>
                <a
                  routerLink="/form/rxjs"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLinkActive="active"
                  class="link">
                  Search with Http & Observables
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/routing" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="link">Routing</a>
          </li>
          <li>
            <a routerLink="/http-rxjs" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="link">Http and Observables</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>

  <main class="content">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
